RealWaste/
realwaste-main/
realwaste.zip/

# Kaggle credentials
kaggle.json

# Zip if you download it directly
*.zip

# Jupyter checkpoints
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
venv/
.venv/
.vscode

# OS/editor junk
.DS_Store

ecosort-kaggle/
ecosort-data/